:root:{
  --cielo: rgb(0, 255, 255);
  --blanco: rgb(255, 255, 255);
  --negro: rgb(36, 36, 36);
}
#user, #pass{
  padding: 1px 1px;
  text-align: center;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  box-shadow: 0 0;
  border: 2px solid rgb(0, 255, 255);
  border-radius: 8px;
}
#user:hover, #pass:hover{
  color: var(--negro);
  background-color: rgb(0, 255, 255);
  box-shadow: 0 0 1px rgb(0, 255, 255), 0 0 4px rgb(0, 255, 255), 0 0 8px rgb(0, 255, 255);
}
#pass{
  width: 130px;
}
.btnm{
  font-family: Minecraft;
  background-color: rgb(36, 36, 36);
  border: 2px solid rgb(0, 255, 255);
  color: #fff;
  padding: 1px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.5;
  border-radius: 10px;
}
.btnm:hover{
  background-color: rgb(0, 255, 255);
  border: 2px solid rgb(0,150, 255);
  color: rgb(36, 36, 36);
  box-shadow: 0 0 10px rgb(0, 255, 255), 0 0 40px rgb(0, 255, 255), 0 0 80px rgb(0, 255, 255);
}

.btn{
  font-family: Minecraft;
  background-color: rgb(36, 36, 36);
  border: 2px solid rgb(0, 255, 255);
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.5;
  border-radius: 10px;
}
.btn:hover{
  background-color: rgb(0, 255, 255);
  border: 2px solid rgb(0,150, 255);
  color: rgb(36, 36, 36);
  box-shadow: 0 0 10px rgb(0, 255, 255), 0 0 40px rgb(0, 255, 255), 0 0 80px rgb(0, 255, 255);
}
