<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Error 404">
    <title>404|AdrianCraft</title>
    <link rel="shortcut icon" href="/src/img/icono.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/src/css/links.css" />
    <link rel="stylesheet" href="/src/css/estilos.css" />
    <script>window.is404 = true</script>
    <script src="/js/api/data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/api/show.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <button id="signout" style="display: none;">Cerrar Sesión</button>
        <input type="text" id="search" />
        <button id="search">Buscar</button>
      </nav>
      <nav>
        <a v-for="l in nav" :href="l[0]">{{l[1]}}</a>
      </nav>
      <section class="textos-header">
        <h1>Error 404</h1>
        <h2>Pagina no encontrada</h2>
      </section>
      <div class="wave">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none">
          <path
            d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          ></path>
        </svg>
      </div>
    </header>
    <main>
      <section class="section-1">
        <h4 class="titulo">404</h4>
        <div class="texto-box">
          <h3 class="texto"> No deberias estar aqui </h3>
          <h3 class="texto"> Asegurate de que la pagina que buscas exista o que este bien escrita.</h3>
        </div>
      </section>
    </main>
    <footer>
      <div class="contenedor-footer">
        <div class="content-foo" v-for="link in footer">
          <h4>{{link[0]}}</h4>
          <a class="link-s" target="_blank" :href="link[1]">{{link[2]}}</a>
        </div>
      </div>
    </footer>
  </body>
</html>
