#user, #pass{
  font-family: Minecraft;
  font-size: 18px;
  padding: 1px 0px;
  margin: 5px auto;
  text-align: center;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  box-shadow: 0 0;
  border: 2px solid rgb(0, 255, 255);
  border-radius: 8px;
}
#user:hover, #pass:hover{
  color: rgb(36, 36, 36);
  background-color: rgb(0, 255, 255);
  box-shadow: 0 0 1px rgb(0, 255, 255), 0 0 4px rgb(0, 255, 255), 0 0 8px rgb(0, 255, 255);
}
#pass{
  width: 140px;
}
#user{
  width: 186px;
}
.btnm{
  font-family: Minecraft;
  background-color: rgb(36, 36, 36);
  border: 2px solid rgb(255, 0, 0);
  color: #fff;
  padding: 1px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.5;
  border-radius: 10px;
}
.btnm:hover{
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(200, 40, 0);
  color: rgb(36, 36, 36);
  box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 80px rgb(255, 0, 0);
}

.btn{
  font-family: Minecraft;
  background-color: rgb(36, 36, 36);
  border: 2px solid rgb(255, 0, 0);
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.5;
  border-radius: 10px;
}
.btn:hover{
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(200, 40, 0);
  color: rgb(36, 36, 36);
  box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 80px rgb(255, 0, 0);
}
