.link-s{
  color:#ccc;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}
.link-s:hover{
  text-decoration: underline;
}
.link{
  color:rgb(255, 0, 0);
  text-decoration: none;
}
.link:hover{
  text-decoration: underline;
}
